target/
*.class
*.jar
*.war
*.ear
*.nar
*.rar
*.zip
*.tar.gz

# Crash logs & JVM dumps
hs_err_pid*
replay_pid*

# Maven Wrapper
.mvn/timing.properties

.env
.env.local
.env.*.local
*.pem
*.key
*.crt

.idea/
*.iml
*.iws
*.ipr
out/

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.launch
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache/

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/


# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.stackdump
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~
.directory

*.log
logs/
*.sql
*.sqlite
docker-data/
/scratch/